.App {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.Title {
  display: flex;
  justify-content: space-around;
  height: 80px;
  background-color: black;
  color: white;
}

.webSiteButton {
  margin-top: 25px;
  margin-bottom: 30px;
  padding-left: 5px;
  padding-right: 5px;
  border: 1px solid white;
  border-radius: 10px;
}

.webSiteButton:hover {
  cursor: pointer;
  color: black;
  background-color: white;
}

.webSiteButton:active {
  background-color: lightgray;
}

.DisplaySite {
  height: 852px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
